/* Stolen from modal_forms. */

/* Reset some styles from system.css and modal.css */

div.views-save-modal-content .modal-content .resizable-textarea {
  margin-left: 0;
  margin-right: 0;
}

div.views-save-modal-content .modal-content .form-item label {
  float: none;
  width: auto;
}

div.views-save-modal-content .modal-content .item-list ul li {
  margin: 0 0 0.25em 1.5em;
}

div.views-save-modal-content .modal-content div.messages {
  margin: 0;
}

/* Styles for the modal dialog */

div.views-save-modal-content {
  background: transparent;
  color: #000;
  font: 12px "Lucida Grande", Verdana, Arial, sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}

div.views-save-modal-content .popups-container {
  overflow: hidden;
  height: 100%;
  background: #fff;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.views-save-modal-content .modal-header {
  background-color: transparent;
  padding: 0.5em 1em 0 1em;
  min-height: 25px;
}

div.views-save-modal-content .modal-title {
  display: inline;
  color: #000;
}

div.views-save-modal-content .popups-close {
  float: right;
  cursor: pointer;
  background: url(close-button.png) -25px 0px no-repeat;
  width: 25px;
  height: 25px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

div.views-save-modal-content .popups-close:hover {
  background-position: -25px -25px;
}

.views-save-help {
  margin-bottom: 1.5em;
}
